<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ParaclinicWebServiceSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://darmanws.tamin.ir/ParaclinicWebService.asmx"
                binding="basicHttpBinding" bindingConfiguration="ParaclinicWebServiceSoap"
                contract="TaminServices.ParaclinicWebServiceSoap" name="ParaclinicWebServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>